<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>前端</title>
</head>
<style>
h2{
    margin-left: 200px;
    }
.ps{
    width: 300px;
    height: 300px;
    border: 1px solid #fcfafa;
    float: left;
    margin-left: 200px;
}
.content{
    width: 500px;
    height: 300px;
    border: 1px solid #fffefe;
    float: left;
    margin-left: 10px;
}
.etc{
    margin-left: 900px;
    clear:both;
}
</style>
<body>
    <h2>前端</h2>    
    <div class="ps">
        <img src="images/qd.JPG" width="250px" height="250px"> 
    </div>
    <div class="content">
            <picture>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;简介：前端开发是创建Web页面或app等前端界面呈现给用户的过程，通过HTML，CSS及JavaScript以及衍生出来的各种技术、框架、解决方案，来实现互联网产品的用户界面交互 。它从网页制作演变而来，名称上有很明显的时代特征。在互联网的演化进程中，网页制作是Web1.0时代的产物，早期网站主要内容都是静态，以图片和文字为主，用户使用网站的行为也以浏览为主。随着互联网技术的发展和HTML5、CSS3的应用，现代网页更加美观，交互效果显著，功能更加强大。<br>
                    
            <picture>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;移动互联网带来了大量高性能的移动终端设备以及快速的无线网络，HTML5，node.jS的广泛应用，各类框架类库层出不穷。</picture><br>
    </div>   
    <div class="etc">
        <a href="#">开始考试</a>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://localhost:8080/doentry?name=admin&password=123456">返回</a>
    </div>   
</body>
</html>