<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>测试</title>
</head>
<style>
h2{
    margin-left: 200px;
    }
.ps{
    width: 300px;
    height: 300px;
    border: 1px solid #fcfafa;
    float: left;
    margin-left: 200px;
}
.content{
    width: 500px;
    height: 300px;
    border: 1px solid #fffefe;
    float: left;
    margin-left: 10px;
}
.etc{
    margin-left: 900px;
    clear:both;
}
</style>
<body>
   <h2>测试</h2>    
    <div class="ps">
        <img src="images/cs.JPG" width="250px" height="250px"> 
    </div>
    <div class="content">
            <picture>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;简介：软件测试（英语：Software Testing），描述一种用来促进鉴定软件的正确性、完整性、安全性和质量的过程。换句话说，软件测试是一种实际输出与预期输出之间的审核或者比较过程。软件测试的经典定义是：在规定的条件下对程序进行操作，以发现程序错误，衡量软件质量，并对其是否能满足设计要求进行评估的过程。<br>
                    
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;黑盒测试:顾名思义即为将软件测试环境模拟为不可见的“黑盒”。通过数据输入观察数据输出，检查软件内部功能是否正常。测试展开时，数据输入软件中，等待数据输出。数据输出时若与预计数据一致，则证明该软件通过测试，若数据与预计数据有出入，即便出入较小亦证明软件程序内部出现问题，需尽快解决。</picture><br>
    </div>   
    <div class="etc">
        <a href="#">开始考试</a>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://localhost:8080/doentry?name=admin&password=123456">返回</a>
    </div>    
</body>
</html>